[user]
  name = Zach VanMeter
  email = zvanmeter@gmail.com
[push]
  default = simple
[merge]
  defaultToUpstream = true
[branch]
  autosetupmerge = always
[rerere]
  enabled = true
[rebase]
  autosquash = true
[url "git@github.com:"]
  insteadOf = https://github.com
[credential]
  helper = cache --timeout=3600
[alias]
  force = push --force-with-lease
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
	filemode = true
[includeIf "gitdir:~/code/project/"]
  path = ~/.gitconfig-project
