[user]
	name = Zach VanMeter
	email = zvanmeter@gmail.com
[push]
	default = simple
[merge]
	defaultToUpstream = true
[branch]
	autosetupmerge = always
[rerere]
	enabled = true
[rebase]
	autosquash = true
[url "https://zvanmeter@github.com"]
    insteadOf = https://github.com
[credential]
        helper = cache --timeout=3600
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[alias]
    undo = reset --soft HEAD~
    serve = daemon --verbose --export-all --base-path=.git --reuseaddr --strict-paths .git/

